@import "tailwindcss";

:root {
  --background: #ffffff;
  --foreground: #171717;
  --modal-bg: #f5f5f5 
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);
}

[data-theme="dark"] {
  --background: #0a0a0a;
  --foreground: #ededed;
  --modal-bg: #262626;
}


body {
  background: var(--background);
  color: var(--foreground);
  font-family: Arial, Helvetica, sans-serif;
  transition: background 0.3s, color 0.3s;
}
